:root {
    --primary-color             : #FF6C00;
    --secondary-color           : #191C26;
    --primary-white-color          : #FFFFFF;
    
    --text-primary              : #303030;
    --text-secondary            : #9DA4BD;
    --paragraph-primary         : #555555;

}

body {
    background-color: var(--primary-white-color);
    color: var(--text-primary);

    font-family: 'Open Sans', sans-serif; 
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;

}

.header {
    background-color: rgb(138, 124, 1);
}

.nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--primary-white-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-color);
}

h2.section-tittle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: var(--text-primary);
}

h2.section-tittle.secondary {

}