:root {
    --primary-color             : #FF6C00;
    --secondary-color           : #191C26;
    --primary-white-color       : #FFFFFF;
    --secondary-bg              : #F7F7F7;
    --text-primary              : #303030;
    --color-text-secondary      : #9DA4BD;
    --paragraph-primary         : #555555;
    --suptitle-secondary-color  : rgba(157, 164, 189, 0.6);
    --bg-service-section        : #111319;

}

html {
    box-sizing: border-box;
 }
 *, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    background-color: var(--primary-white-color);
    color: var(--text-primary);

    font-family: 'Open Sans', sans-serif; 
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

@keyframes infiniteRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    } 
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
}

.section:not(.footer .section) {
    padding-left: 55px;
    padding-right: 55px;
}

h2.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

h2.section-title.secondary {
    color: var(--primary-white-color);
}

/* Header styles */

.header .container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Nav styles */

.navbar,
.nav-links {
    display: flex;
    align-items: center;
}

.container .navbar {
    position: fixed;
    top: 0;
    z-index: 100;

    width: 100%;
    padding-top: 32px;
    padding-right: 55px;
    padding-left:  55px;
}

.logo-img {
    width: 69px;
    height: 55px;
    fill: #303030;
    animation-name: infiniteRotate;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

.nav-links {
    margin-left: 71px;
}

.nav-links .item-link:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    padding-top: 52px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--primary-white-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-color);
}

.auth-links {
    margin-left: auto;
}

.phone-link {
    margin-right: 40px;
}

.phone-link,
.primary-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.primary-btn {
    padding: 12px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

.primary-btn:focus,
.primary-btn:hover {
    background-color: var(--primary-color);
    color: var(--primary-white-color);
}

/* Sidebar styles */

.sidebar {
    width: 155px;
    height: 100vh;
    background-color: var(--primary-white-color);
}

.sidebar .social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: inherit;
}

.sidebar .social-link:not(:last-child) {
    padding-right: 40px;
}

.sidebar .social-link:focus,
.sidebar .social-link:hover {
    color: var(--primary-color);
}

/* Slider styles */

.slider {
    background-image: 
    linear-gradient(287deg, #00000059, #000000cf),
    url('../images/bg-img/Slider-img-3.jpg'); 
    width: calc(100% - 155px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 272px 525px 206px 100px;
}


.suptitle-secondary {
    display: block;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--suptitle-secondary-color);

}

.hero-title {
    margin-bottom: 20px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    color: var(--primary-white-color);
}

.hero-text {
    display: inline-block;
    padding-right: 250px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--color-text-secondary);

}

/* About our section styles */

.about-container {
    display: flex;
    justify-content: space-between;
} 


.about-img {
    display: flex;
    max-width: 48%;
    margin-right: 64px;
}

.img-about {
    max-width: 270px;
}
.img-about:not(:last-child) {
    margin-right: 30px;
}

.discription-container {
    max-width: 48%;
    padding-right: 45px;
}

.suptitle-primary {
    display: block;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.suptitle-primary::before,
.suptitle-secondary::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background: var(--text-primary);
    vertical-align: middle;
}

.suptitle-secondary::before {
    background: var(--suptitle-secondary-color);
}

.discription-container .section-title {
    margin-bottom: 20px;
}

.section-subtitle {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--paragraph-primary);
}

.section-text {
    margin-bottom: 40px;
    padding-right: 20px;

    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: var(--paragraph-primary);
}

.primary-btn.darken {
    color: var(--text-primary);
}

.primary-btn.darken:hover,
.primary-btn.darken:hover {
    color: var(--primary-white-color);
}

/* Services and price section styles */

.section-price {
    background-color: var(--bg-service-section);
    background-image: 
        linear-gradient(
            to right,
            rgba(17, 19, 25, 0.6),
            rgba(17, 19, 25, 0.6)),
        url(../images/bg-img/bg-service-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-price .section-title {
    margin-bottom: 44px;
}

.price-box,
.price-item {
    display: flex;
}

.price-box {
    margin-bottom: 50px;
}

.price-list {
    padding: 30px 40px;
    width: 585px;
}

.price-item:not(:last-child) {
    margin-bottom: 20px;
}

.price-item {
    justify-content: space-between;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--color-text-secondary);
}
   
.section-price .primary-btn {
    min-width: 160px;
    display: inline-block;
    margin-left: 505px; 
}

.price-list.first {
    background: 
    linear-gradient(
        180deg, #171A24 0%, 
        rgba(23, 26, 36, 0.2) 100%);
}

.price-list.second {
    background: 
    linear-gradient(
        180deg, #090B13 0%, 
        rgba(9, 11, 19, 0.2) 100%);
}

.price-item p::after {
    content: "";
    display: inline-block;
    background-color: #9DA4BD1F;
    width: auto;
    height: 1px;
    margin-left: 6px;
    margin-left: 6px;

}

/* Why we section styles */

.container-wws {
    display: flex;
    justify-content: space-between;
}

.number-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
    padding-left: 100px;
    padding-right: 100px;
}

.number-box {
    display: block;
    min-width: 170px;
    width: 48%;
    height: 133px;
    padding: 20px 24px;
    margin-top: 30px;
    

    text-align: center;
    background-color: var(--secondary-bg);
}

.number-box:nth-child(2n+1) {
    margin: 0;
}

.numeric {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
}

.number-text {
    display: inline-block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;   
}

/* Our master section styles */

.section-master {
    background-color: var(--secondary-bg);
}

.section-master .section-title {
    margin-bottom: 44px;
}

.masters-list {
    display: inline-flex;
    justify-content: space-between;
}

.master-card:not(:last-child) {
    margin-right: 30px;
}

.text-master {
    margin-top: 30px;
    text-align: center;
}

.master-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
}

.profession {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    margin-top: 8px;

    color: var(--primary-color);
}

.master-social-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.master-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
}

.master-social-link:not(:last-child) {
    margin-right: 10px;
}

.master-social-link:hover,
.master-social-link:focus {
    color: var(--primary-color);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* Portfolio section styles */

.img-gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-card {
    position: relative;
    overflow: hidden;
}

.gallery-card:focus,
.gallery-card:hover .gallery-description{
    transform: translate(0, -100%);
}

.gallery-description {
    width: 100%;
    height: 360px;
    position: absolute;
    background-color: rgba(0, 0, 0, 75%);
    transform: translate(-100%, 0%);

    padding: 15px;
    color: var(--primary-white-color);

    transition: transform 500ms linear;
}

/* Footer styles */

.footer {
    width: 100%;
    min-height: 640px;
    height: auto;
    background-color: #191C26;
    background-image: 
    linear-gradient(360deg, #191c26e6, #191c26e6),
    url(../images/bg-img/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    background-attachment: fixed;
}

.footer .container {
    justify-content: space-between;
    display: flex;
}

.footer-form {
    width: 560px;
}

.container-form .section-title {
    margin-bottom: 44px;
    min-width: 50%;
}

.footer-form .form-field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    
    outline: none;
    color: var(--primary-white-color);
    cursor: pointer;
}

.footer-form .field-label {
    position: relative;
    display: inline-block;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    color: rgba(157, 164, 189, 0.4);
}

.field-label:hover .form-field,
.footer-form .form-field:focus,
.field-label:hover {
    border-color: var(--primary-white-color);
    color: var(--primary-white-color);
}

.form-field:checked legend {

}

.footer-form .field-label legend {
    position: absolute;
    top: -3px;

    transition: transform 250ms linear;
}

.footer-form .form-field:focus + legend {
    transform: translate(-2px, -24px);
    color: var(--primary-white-color);
}

.field-label:first-child {
    margin-right: 30px;
    margin-bottom: 44px;
}

.field-label:first-child .form-field {
    width: 260px;
}

.field-label:nth-child(2) .form-field {
    width: 250px;
}


textarea.form-field {
    resize: none;
    width: 545px;
}

.footer .primary-btn {
    background-color: transparent;
    width: 160px;
    cursor: pointer;

    margin-top: 44px;
}

.container-contacts .section-title {
    margin-bottom: 40px;
}

.container-contacts {
    min-width: 50%;
    padding: 0 155px 0 100px;
}

.contacts-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    padding-left: 50px;
}

.contacts-box .contacts {
    position: relative;
}

.contacts-box .contacts::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: -40px;
    top: 3px;
}

.contacts.adress::before {
    background-image: url("../images/icon/map-pin.svg");
}

.contacts.phone::before {
    background-image: url("../images/icon/phone.svg");
}

.contacts.mail::before {
    background-image: url("../images/icon/mail.svg");
}

.footer .contacts:not(:last-child) {
    margin-bottom: 20px;
}

.contacts,
.work-time {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--color-text-secondary);
}

.schedule-box .suptitle-secondary {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

/* Under footer container styles */

.copyright {
    background-color: var(--secondary-bg);
    width: 100%;
    min-height: 127px   ;
    height: auto;
}

.copy-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;

    color: #9DA4BD;
}

.copyright .social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--text-primary);
}

.copyright .social-link:not(:last-child) {
    margin-right: 40px;
}

.copyright .container {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px;
}
